{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    // Vue
    "vue/multi-word-component-names": "off",
    // TypeScript
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "multilineDetection": "brackets"
      }
    ],
    "import/order": [
      "error",
      {
        // All the options provided below are documented here:
        // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md#options
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "~/types/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "~/views/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "~/components/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "~/components/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "newlines-between": "always"
      }
    ]
  }
}
