{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    // Vue
    "vue/multi-word-component-names": "off",
    "vue/singleline-html-element-content-newline": [
      "warn",
      {
        "ignores": [
          // Built-in
          "a", "abbr", "audio", "b", "bdi", "bdo", "canvas", "cite", "code", "data", "del", "dfn", "em", "i", "iframe", "ins", "kbd", "label", "map", "mark", "noscript", "object", "output", "picture", "q", "ruby", "s", "samp", "small", "span", "strong", "sub", "sup", "svg", "time", "u", "var", "video",
          // Custom
          "WlNotificationBadge"
        ]
      }
    ],
    // TypeScript
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "multilineDetection": "brackets"
      }
    ],
    "import/order": [
      "error",
      {
        // All the options provided below are documented here:
        // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md#options
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "~/types/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "~/views/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "~/components/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "~/components/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "newlines-between": "always"
      }
    ]
  }
}
